".env"
"__pycache__/" 
"*.pyc" 
"node_modules/" 
blueprints/__pycache__/
blueprints/__pycache__/__init__.cpython-312.pyc
blueprints/__pycache__/file_ops.cpython-312.pyc
blueprints/__pycache__/main.cpython-312.pyc
blueprints/__pycache__/text_ops.cpython-312.pyc
blueprints/__pycache__/url_ops.cpython-312.pyc